* {
  margin: 10px;
}

body {
  background-color: rgb(245, 243, 247);
  margin: 0;
}

.header {
  padding-top: 5px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 250px;
  text-align: center;
  background-image: url(lehtinen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 30%;
}

.welcome {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  color: rgb(23, 82, 105);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h2 {
  color: rgba(86, 128, 124, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 20px;
}

#projectimg {
  float: right;
  padding: 20px;
  border-radius: 10%;
}

#aboutmeimg {
  float: left;
  padding: 20px;
  border-radius: 10%;
}

#aboutme {
  background-color: rgb(229, 237, 243);
}

#skillsimg {
  float: right;
  padding: 20px;
  border-radius: 10%;
}

ul {
  padding: 0;
}

li {
  font-family: "Montserrat", sans-serif;
  display: inline;
  padding: 5px;
}

li a {
  color: rgba(86, 128, 124, 255);
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 12;
  padding: 10px;
}

img {
  height: 200px;
}

footer.footer {
  height: 400px;
  width: 100%;
  background-color: black;
}

p.copyright {
  color: #ffff;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.contactme {
  color: #f5e0cc;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 150px;
}

footer {
  text-align: center;
  padding: 10px;
}

label {
  color: #f5e0cc;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  vertical-align: top;
  display: inline-block;
  width: 200px;
}

input,
textarea {
  font-size: 16px;
  width: 260px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

button {
  background-color: #f5e0cc;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  margin-left: 180px;
}
