* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(245, 243, 247);
}

/* HEADER*/

header {
  padding-top: 3vh;
  padding-bottom: 30vh;
  background-image: url(lehtinen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 30%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-between;
}

#main-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffff;
}

#mobileButton {
  display: none;
}

.welcome {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  color: rgb(23, 82, 105);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.bg {
  background-color: white;
}

.bg a,
.bg span {
  color: #333;
}

/* LINKS */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*LIST*/

ul {
  padding: 0;
}

li {
  font-family: "Montserrat", sans-serif;
  display: inline;
  padding: 5px;
}

li a {
  color: rgba(86, 128, 124, 255);
}

/*HEADINGS*/

h2 {
  color: rgba(86, 128, 124, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 20px;
}

h3 {
  color: rgba(86, 128, 124, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/*PROJECT SECTION*/

.projectcards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#project1,
#project2,
#project3 {
  border: 2px solid;
  border-color: rgb(186, 197, 207);
  margin: 10px;
  text-align: center;
  padding: 1em;
}

.projectcards img {
  height: 200px;
}

/*ABOUT ME SECTION*/

#aboutmeimg {
  padding: 1rem;
  float: left;
}

#aboutme {
  background-color: rgb(229, 237, 243);
  display: inline-block;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 1em;
}

/*SKILLS SECTION */

#skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#skill1,
#skill2,
#skill3 {
  border: 2px solid;
  border-color: rgb(186, 197, 207);
  margin: 10px;
  text-align: center;
  padding: 1em;
}

progress {
  display: block;
  margin: 0px auto 20px auto;
  height: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eeee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 5px;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, rgba(241, 238, 197, 0.829));

  border-radius: 3px;
}

/*FOOTER*/

footer.footer {
  background-color: black;
}

.footercontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  padding: 10px 0;
}

p.copyright {
  color: #ffff;
  line-height: 1rem;
  font-size: 1rem;
  margin-bottom: 10px;
}

.contactme {
  color: #f5e0cc;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

#backToTop {
  width: 45px;
  border-radius: 50%;
  position: fixed;
  bottom: 1rem;
  right: 4rem;
  cursor: pointer;
}

label {
  color: #f5e0cc;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 10px;
}

input,
textarea {
  font-size: 16px;
  width: 260px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

button {
  background-color: #f5e0cc;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: black;
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 5px;
}

/* MEDIA QUIRIES */

@media (max-width: 576px) {
  #mobileButton {
    display: block;
    background-color: transparent;
    border: none;
    color: rgb(23, 82, 105);
    padding: 0.5rem;
  }
  nav ul {
    display: none;
  }
  nav.responsive ul {
    background-color: white;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    display: block;
  }

  nav.responsive ul li {
    display: block;
  }

  nav.responsive a {
    display: block;
  }
  img {
    display: block;
  }
  #aboutmeimg {
    float: none;
    width: 100%;
    padding: 0;
  }
}
