@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-animation: rgba(245, 205, 176), rgba(214, 186, 245),
    rgba(243, 236, 156), rgb(49, 138, 173), rgba(143, 187, 190),
    rgba(214, 186, 245), rgba(224, 155, 207), rgba(245, 205, 176),
    rgba(201, 151, 77);
  --main-font: "Montserrat", sans-serif;
  --list-link-color: rgba(86, 128, 124);
  --header-color: rgba(86, 128, 124);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(245, 243, 247);
}

/* LINKS */

a {
  text-decoration: none;
}

a:visited {
  color: var(--list-link-color);
}

a:hover {
  text-decoration: underline;
}

/*INTERNAL LINK SCROLLING*/

section {
  scroll-margin-top: 90px;
}

/*LIST*/

ul {
  padding: 0;
}

li {
  font-family: var(--main-font);
  display: inline;
  padding: 5px;
}

li a {
  color: var(--list-link-color);
}

/* HEADER*/

.main-header {
  padding-top: 3vh;
  padding-bottom: 30vh;
  background-image: url(lehtinen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 30%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-between;
  margin: 1.5rem;
}

#main-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffff;
  z-index: 300;
}

#mobileButton {
  display: none;
}

.welcome {
  font-size: 3rem;
  color: rgb(38, 107, 134);
  font-family: "Pacifico", cursive;
  text-align: center;
  margin-top: 2.5rem;
  text-shadow: 1px 1px rgb(185, 182, 182);
}

h1 {
  color: var(--header-color);
  font-family: var(--main-font);
  font-weight: 400;
}

.bg-green #main-nav {
  background-color: rgb(229, 243, 237);
  transition: 1.3s;
}

/* HEADER ANIMATION */

div .navbar-animation {
  height: 5px;
  position: relative;
  overflow: hidden;
}

.navbar-animation::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100vw;
  background-image: linear-gradient(65deg, var(--color-animation));
  background-size: 400%, 400%;
  animation: gradient 19s ease infinite;
}

/* Note to myself: In CSS, ::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property. It is inline by default. */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*HEADINGS*/

h2 {
  color: var(--header-color);
  font-family: var(--main-font);
  font-weight: 500;
  margin: 20px;
}

h3 {
  color: var(--header-color);
  font-family: var(--main-font);
  font-weight: 300;
}

/*PROJECT SECTION*/

.projectcards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

#project1,
#project2,
#project3 {
  border: 2px solid;
  border-color: rgb(186, 197, 207);
  margin: 10px;
  text-align: center;
  padding: 1em;
}

.projectcards img {
  max-width: 300px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 12px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 10px 8px;
}

.project-link {
  color: var(--list-link-color);
  font-family: var(--main-font);
}

/*ABOUT ME SECTION*/

#aboutmeimg {
  padding: 1rem;
  float: left;
  width: 270px;
}

#aboutme {
  background-color: rgb(229, 237, 243);
  display: inline-block;
  padding-bottom: 20px;
}

p {
  font-family: var(--main-font);
  font-size: 1em;
  padding: 1em;
}

/*SKILLS SECTION */

.skill-bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

#skill1,
#skill2,
#skill3 {
  border: 2px solid;
  border-color: rgb(186, 197, 207);
  margin: 10px;
  text-align: center;
  padding: 1em;
}

.fa-brands {
  font-size: 2.5rem;
}

progress {
  display: block;
  margin: 0px auto 20px auto;
  height: 2rem;
  appearance: none;
  margin: 20px;
}

/* CSS validator will return a warning about the webkit as a vendor extended pseudo-element. I have tested the styling and it does not work without them in. */

progress::-webkit-progress-bar {
  background-color: #eeee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 5px;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, rgba(241, 238, 197, 0.829));

  border-radius: 3px;
}

/*FOOTER*/

footer {
  padding: 10px 0;
}

footer.footer {
  background-color: black;
}

.footercontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p.copyright {
  color: #ffff;
  line-height: 1rem;
  font-size: 1rem;
  margin-bottom: 10px;
}

.contactme {
  color: #f5e0cc;
  font-family: var(--main-font);
  font-size: 20px;
  margin-top: 20px;
}

#backToTop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  cursor: pointer;
}

label {
  color: #f5e0cc;
  font-family: var(--main-font);
  display: block;
  margin: 10px;
}

input,
textarea {
  font-size: 16px;
  width: 260px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

button {
  background-color: #f5e0cc;
  font-family: var(--main-font);
  font-size: 1em;
  color: black;
  border: none;
}

#contact-button {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  margin: 1.5rem;
}

#contact-button:hover {
  cursor: pointer;
}

/*GALLERY PAGE*/

#gallery-welcome {
  margin-top: 8rem;
  margin-bottom: 8rem;
  text-align: center;
}

.grid-container {
  margin-bottom: 8rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 250px 150px 350px;
  grid-template-rows: 2fr 150px;
  justify-content: center;
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(80%);
}

.grid-container img:hover {
  cursor: pointer;
  filter: saturate(1);
  transform: 0.5s;
}

#image-credit {
  color: var(--list-link-color);
}

/* MEDIA QUERIES */

@media (max-width: 576px) {
  #myname {
    display: block;
  }

  #mobileButton {
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 30px;
    color: rgb(23, 82, 105);
  }

  nav ul {
    display: none;
  }

  nav.responsive ul {
    background-color: white;
    position: absolute;
    left: 0;
    top: 82px;
    width: 100%;
    display: block;
  }

  nav.responsive ul li {
    display: block;
  }

  nav.responsive a {
    display: block;
  }
  img {
    display: block;
  }
  #aboutmeimg {
    float: none;
    width: 100%;
    padding: 0;
  }

  .grid-container {
    display: block;
  }
  section {
    scroll-margin-top: 84px;
  }
  .welcome {
    font-size: 1.8rem;
  }

  .main-header {
    background-position: top;
  }
}
